* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-nav-div {
  background-color: #393e43;
  width: 100%;
}

.main-nav {
  
  display: flex;
  justify-content: space-between;
}

.nav-btn {
  border-style: none;
  padding: 15px 15px;
  background-color: #393e43;
  color: #c8c8c8;
  border-right-style: solid;
  border-right: 1px solid black;
  
}

.nav-btn-hover:hover {
  background-color: black;
}

.nav-btn-hover-2:hover {
  color: white;
}

.card-img {
  width: 170px !important;
}

.card-h1 {
  text-align: center;
  color: white;
}

.main-card {
  background-color: #272b30;
  /* width: 30%; */
  padding: 15px 10px;
  margin: 25px 15px;
}

.block {
  color: white;
  text-align: center;
}

.block > p {
  margin-bottom: 1px;
}

.main-product {
  background-color: #272b30;
  /* height: 100vh; */
  font-size: 14px;
}

.card-flex-div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.product-link {
  border: none;
  background-color: #272b30;
}

.main-product-detail-div {
  background-color: #272b30;
  height: 100%;
  color:  white;
}

.product-detail-p {
  text-align: center;
  margin-top: 10px;
  font-size: 36px;
}

.product-detail-sub-main {
  display: flex;
  align-items: center;
  margin-top: 30px;
  flex-direction: column;
  /* justify-content: space-evenly;
  flex-wrap: wrap; */
  padding-bottom: 25px;
}

.font-size-product-detail {
  font-size: 26px;
}

.product-detail-btn-sub {
  background-color: #272b30;
  border-style: none;
  border: 1px solid black;
  margin-right: 4px;
  color: white;
  padding: 5px;
}

.product-detail-btn-sub:focus {
  background-color: black !important;
}

.product-detail-btn {
  border-style: none;
  background-color: #5bc0de;
  color: white;
  padding: 8px;
  margin-top: 20px;
  border-radius: 3px;
  font-size: 15px;
  box-shadow: 0 0 2px #5bc0de;
}

.add-to-cart-main-div {
  background-color: #272b30;
  color: white;
  height: 100%;
  min-height: 100vh;
  min-width: 340px;
}

.add-to-cart-sub-div {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.main-th {
  font-size: 35px;
  font-weight: lighter;
}

.col-margin {
  padding: 0 50px;
  font-size: 14px;
}

.add-to-cart-tr {
  background-color: #2e3338;
  border-style: none;
  border-bottom: 1px solid black;
}

.tr-main-height {
  height: 40px;
}

.tr-sub-height {
  height: 90px;
}

@media only screen and (max-width: 950px) {
  .col-margin {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 720px) {
  .col-margin {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 450px) {
  .col-margin {
    padding: 0 5px;
  }
}

.add-to-cart-table {
  margin: 0 15px;
}

.col-bol {
  font-weight: bold;
}

.add-to-cart-rm-btn {
  border-style: none;
  padding: 5px 8px;
  border-radius: 3px;
  background-color: #ec514d;
  color: white;
}

.add-to-cart-total-div {
  margin-top: 40px;
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
  margin-right: 242px;
  padding-left: 20px;
}

.add-cart-number {
  position: relative;
  bottom: 15px;
  border-style: none;
  border: 1px solid white ;
  padding: 1px;
  border-radius: 50px;
  border-right-color: white !important;
}

.home-main-div {
  background-image: url('https://previews.123rf.com/images/kouzins/kouzins1501/kouzins150100012/35948459-stack-of-shopping-carts-outside-of-a-store.jpg');
  min-height: 640px;
  /* background-repeat: no-repeat;
  background-size: cover; */
  background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh
  
}

