* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-nav-div {
  background-color: #393e43;
  width: 100%;
}

.main-nav {
  
  display: flex;
  justify-content: space-between;
}

.nav-btn {
  border-style: none;
  padding: 15px 15px;
  background-color: #393e43;
  color: #c8c8c8;
  border-right-style: solid;
  border-right: 1px solid black;
  
}

.nav-btn-hover:hover {
  background-color: black;
}

.nav-btn-hover-2:hover {
  color: white;
}

.card-img {
  width: 170px !important;
}

.card-h1 {
  text-align: center;
  color: white;
}

.main-card {
  background-color: #272b30;
  padding: 15px 10px;
  margin: 25px 15px;
}

.block {
  color: white;
  text-align: center;
}

.block > p {
  margin-bottom: 1px;
}

.main-product {
  background-color: #272b30;
  font-size: 14px;
}

.card-flex-div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.product-link {
  border: none;
  background-color: #272b30;
}

.main-product-detail-div {
  background-color: #272b30;
  height: 100%;
  color:  white;
}

.product-detail-p {
  text-align: left;
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 76px;
  padding-left: 12%;
}

.product-detail-sub-main {
  display: flex;
  align-items: center !important;
  margin-top: 30px;
  justify-content: space-around;
  padding-bottom: 25px;
  flex-wrap: wrap;
}

.font-size-product-detail {
  font-size: 26px;
}

.font-size-product-detail-price {
  font-size: 16px;
  font-weight: bold;
}

.font-size-product-detail-varient {
  font-weight: bold ;
  margin-bottom: 3px;
}

.product-detail-btn-a {
  background-color: #272b30;
  border-style: none;
  border: 1px solid black;
  margin-right: 4px;
  color: white;
  padding: 5px;
  margin-bottom: 10px;
}

.product-detail-btn-active {
  background-color: firebrick;
  border-style: none;
  border: 1px solid black;
  margin-right: 4px;
  color: white;
  padding: 5px;
  
}

/* .product-detail-btn-sub0:focus {
  background-color: black;
}

.product-detail-btn-sub1:focus {
  background-color: black;
} */

.product-detail-btn {
  border-style: none;
  background-color: #5bc0de;
  color: white;
  padding: 8px 20px;
  margin-top: 20px;
  border-radius: 3px;
  font-size: 15px;
  box-shadow: 0 0 2px #5bc0de;
  font-weight: bold;
  width: 100%;
}

.add-to-cart-main-div {
  background-color: #272b30;
  color: white;
  height: 100%;
  min-height: 100vh;
  min-width: 340px;
}

.add-to-cart-sub-div {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.main-th {
  font-size: 35px;
  font-weight: lighter;
}

.col-margin {
  padding: 0 50px;
  font-size: 14px;
}

.add-to-cart-tr {
  background-color: #2e3338;
  border-style: none;
  border-bottom: 1px solid black;
}

.tr-main-height {
  height: 40px;
}

.tr-sub-height {
  height: 90px;
}

@media only screen and (max-width: 950px) {
  .col-margin {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 720px) {
  .col-margin {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 450px) {
  .col-margin {
    padding: 0 5px;
  }
}

.add-to-cart-table {
  margin: 0 15px;
}

.col-bol {
  font-weight: bold;
}

.add-to-cart-rm-btn {
  border-style: none;
  padding: 5px 8px;
  border-radius: 3px;
  background-color: #ec514d;
  color: white;
}

.add-to-cart-total-div {
  margin-top: 40px;
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
  margin-right: 242px;
  padding-left: 20px;
}

.add-cart-number {
  position: relative;
  bottom: 15px;
  border-style: none;
  border: 1px solid white ;
  padding: 0.5px 5px;
  border-radius: 50px;
  background-color: #ec514d;
  border-right-color: white ;
}

.home-main-div {
  background-image: url('https://previews.123rf.com/images/kouzins/kouzins1501/kouzins150100012/35948459-stack-of-shopping-carts-outside-of-a-store.jpg');
  min-height: 640px;
  background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh
}

/*  */


.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  opacity: 0.4;
  filter: alpha(opacity=40);
  position: absolute;
  z-index: 2;
  top: 20px;
  background: none;
  border: 0;
  font-size: 32px;
  cursor: pointer; }
  .carousel .control-arrow:focus, .carousel .control-arrow:hover {
    opacity: 1;
    filter: alpha(opacity=100); }
  .carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before {
    margin: 0 5px;
    display: inline-block;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    content: ''; }
  .carousel .control-disabled.control-arrow {
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: inherit;
    display: none; }
  .carousel .control-prev.control-arrow {
    left: 0; }
    .carousel .control-prev.control-arrow:before {
      border-right: 8px solid #fff; }
  .carousel .control-next.control-arrow {
    right: 0; }
    .carousel .control-next.control-arrow:before {
      border-left: 8px solid #fff; }

.carousel-root {
  outline: none;
 }

.carousel {
  position: relative;
  width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .carousel img {
    width: 100%;
    display: inline-block;
    pointer-events: none; }
  .carousel .carousel {
    position: relative; }
  .carousel .control-arrow {
    outline: 0;
    border: 0;
    background: none;
    top: 50%;
    margin-top: -13px;
    font-size: 18px; }
  .carousel .thumbs-wrapper {
    margin: 20px;
    overflow: hidden; }
  .carousel .thumbs {
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -ms-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: relative;
    list-style: none;
    white-space: nowrap; }
  .carousel .thumb {
    -webkit-transition: border 0.15s ease-in;
    -moz-transition: border 0.15s ease-in;
    -ms-transition: border 0.15s ease-in;
    -o-transition: border 0.15s ease-in;
    transition: border 0.15s ease-in;
    display: inline-block;
    margin-right: 6px;
    white-space: nowrap;
    overflow: hidden;
    border: 3px solid #fff;
    padding: 2px; }
    .carousel .thumb:focus {
      border: 3px solid #ccc;
      outline: none; }
    .carousel .thumb.selected, .carousel .thumb:hover {
      border: 3px solid #333; }
    .carousel .thumb img {
      vertical-align: top; }
  .carousel.carousel-slider {
    position: relative;
    margin: 0;
    overflow: hidden; }
    .carousel.carousel-slider .control-arrow {
      top: 0;
      color: #fff;
      font-size: 26px;
      bottom: 0;
      margin-top: 0;
      padding: 5px; }
      .carousel.carousel-slider .control-arrow:hover {
        background: rgba(0, 0, 0, 0.2); }
  .carousel .slider-wrapper {
    overflow: hidden;
    margin: auto;
    width: 100%;
    -webkit-transition: height 0.15s ease-in;
    -moz-transition: height 0.15s ease-in;
    -ms-transition: height 0.15s ease-in;
    -o-transition: height 0.15s ease-in;
    transition: height 0.15s ease-in; }
    .carousel .slider-wrapper.axis-horizontal .slider {
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex; }
      .carousel .slider-wrapper.axis-horizontal .slider .slide {
        flex-direction: column;
        flex-flow: column; }
    .carousel .slider-wrapper.axis-vertical {
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex; }
      .carousel .slider-wrapper.axis-vertical .slider {
        -webkit-flex-direction: column;
        flex-direction: column; }
  .carousel .slider {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    width: 100%;
   }
    .carousel .slider.animated {
      -webkit-transition: all 0.35s ease-in-out;
      -moz-transition: all 0.35s ease-in-out;
      -ms-transition: all 0.35s ease-in-out;
      -o-transition: all 0.35s ease-in-out;
      transition: all 0.35s ease-in-out; }
  .carousel .slide {
    min-width: 100%;
    margin: 0;
    position: relative;
    text-align: center; }
    .carousel .slide img {
      /*  */
      width: 60%;
      vertical-align: top;
      border: 0; }
    .carousel .slide iframe {
      display: inline-block;
      width: calc(100% - 80px);
      margin: 0 40px 40px;
      border: 0; }
    .carousel .slide .legend {
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      position: absolute;
      bottom: 40px;
      left: 50%;
      margin-left: -45%;
      width: 90%;
      border-radius: 10px;
      background: #000;
      color: #fff;
      padding: 10px;
      font-size: 12px;
      text-align: center;
      opacity: 0.25;
      -webkit-transition: opacity 0.35s ease-in-out;
      -moz-transition: opacity 0.35s ease-in-out;
      -ms-transition: opacity 0.35s ease-in-out;
      -o-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out; }

  .carousel .control-dots {
    display: none;
  }

  .carousel .carousel-status {
    display: none;
   }
  .carousel:hover .slide .legend {
    opacity: 1; }

.main-carosel {
  width: 500px;
}

@media only screen and (max-width: 500px) {
  .main-carosel {
    width: 100%;
  }
}

.detail-sub {
  margin-top: -170px !important;
}

@media only screen and (max-width: 1200px) {
  .detail-sub {
    margin-top: -30px !important;
  }
}


